body {
    margin: 0;
    font-family: system-ui;
}

.parallax, .parallaxl {
    background-image: url(./images/background/background.jpg);
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title {
    background:rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;    
    font-family: fantasy;
    letter-spacing: 20px;    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.menu {
    background: #075047;
    text-align: center;
}

.menu-ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.menu-ul li {
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 25px;
}

.a-menu , .a-links{
    text-decoration: none;
    color: white;
}

.menu-ul li:hover {
    background: #02796f;
    transform: scale(1.1);
}

.search-box {
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 12px;
}

.search-box:hover {
    box-shadow: 0 0 10px 2px #5b8c5a;
    border: 1px solid #5b8c5a;

}

.search-input {
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 10px 0 0 15px;

}

i {
    font-size: 20px;
    margin: 0 10px 0 0;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

.container, .deals-container {
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
    
}

.categories, .items{
    width: max-content;
    margin: 25px;
    border: 1px solid #075047;
    border-radius: 0 0 50px 50px;
    display: inline-block;
}

.categories:hover, .items:hover {
    box-shadow: 0 0 10px 3px #075047;
}

.item-image {
    height: 200px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}

.image-title {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: black;
}

a (
    text-decoration:none;

)

.title {
    padding: 50px;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    background: rgba(0,0,0,0.5);
}

.deal {
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg, #045f59 2%, #969793 50%, #045f59 80%);
}

.coupon-btn {
    border:1px solid white;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.coupon-btn:hover {
    box-shadow: 0 0 10px 5px white inset;
}

.images {
    display: inline-block;
}

.item-image-size {
    height: 200px;
    width: 300px;
    padding: 5px;
}

.description {
    margin: 20px;
    min-height: 100px;  
}

.item-select (
    margin: 10px 0 0 0;

)

.buynow-btn {
    border: 1px solid #184d47;
    background: #184d47;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.buynow-btn:hover {
    border: 1px solid #5b8c5a;
    box-shadow: 0 0 10px 5px 5b8c5a inset;
}

.parallaxl {
    background-image: url('images/footerbackground.jpg');
}

.footer {
    background:rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
}

.quick-links {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 30px;
}

.quick-links ul {
    padding: 0;
}

.quick-links li {
    list-style: none;
    padding: 10px;
    font-weight: 300;
}

.a-links:hover {
    color: #fd5e53;
}

.copyrights {
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 15px;
}

.logo {
    padding: auto;
    height: 100px;
    width: 100px;
    margin: auto;
   
}

.logo:hover {
    background: whitesmoke;
    transform: scale(1.1);
}